body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: url(color.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  letter-spacing: 0.2em;
  min-height: 100vh;
}

body.dark {
  background: url(dark.jpg);
  color: white;
}

body.light {
  background: url(minimalistic.jpg) rgb(225, 230, 233);
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h4 {
  font-weight: normal;
}

.boopblocks h1, .boopblocks h4 {
  text-shadow: 1px 1px 10px rgb(97, 97, 97);
  margin: 15px;
}

#social-icons {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  line-height: 2em;
}

#social-icons.dark {
  background: rgba(0, 0, 0, 0.3);
}

#social-icons.light {
  background: rgba(0, 0, 0, 0.3);
}

#social-icons a {
  color: white;
}

#social-icons.dark a {
  color: white;
}

#social-icons.light a {
  color: black;
}

.fab, .fa, .fas {
  text-decoration: none;
  transition: 0.3s;
  padding: 10px;
  font-size: 20px;
}

.fab:hover, .fa:hover, .fas:hover, .synth polygon:hover, #master-play:hover {
  opacity: 0.3;
  cursor: pointer;
}

.modes {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modes li {
  list-style: none;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 10px;
  transition: 0.3s;
}

.modes li:hover {
  cursor: pointer;
  opacity: 0.5;
}

#dark {
  background: black;
}

#dark.dark {
  box-shadow: 1px 1px 3px white;
  border: 1px solid white;
}

#light {
  background: white;
}

#light.light {
  box-shadow: 1px 1px 3px black;
  border: 1px solid black;
}

#color {
  background: linear-gradient(to bottom right, rgb(0, 128, 96), rgb(255, 30, 0));
}

#color.color {
  box-shadow: 1px 1px 3px white;
  border: 1px solid white;
}

#play-pause {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
}

#play-pause.dark {
  background: white;
  border-radius: 20px;
  padding: 5px 5px 5px 10px;
}

#mute {
  height: 20px;
  width: 20px;
  font-size: 20px;
  color: black;
}

.description {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  letter-spacing: 0.25em;
  text-align: left;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description ol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0;
  height: 70%;
}

.description li {
  padding: 10px;
}

.keys {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#synth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 100;
  margin: 0 20% 0 20%;
}

#synth-container.dark * {
  background: rgba(50, 50, 50, 0.5);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  border-radius: 20px;
}
#synth-container.light * {
  -webkit-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg);
}

.synth {
  padding: 0;
  width: 500;
  height: 500;
  margin: 5%;
}

.synth path, .synth polygon, #master-play, #mute {
  transition: 0.3s;
}

.synth path:hover {
  opacity: 0.7;
}

.opaq {
  opacity: 0.3;
}

.synth * {
  box-shadow: 1px 1px 10px black;
  border-radius: 20px;
  padding: 0;
}

@media only screen and (max-width: 650px) { 
  .description {
    width: 170px;
  }
}

@media only screen and (max-width: 600px) { 
  .description {
    display: none;
  }
}