body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: url(1789225.png) no-repeat;
  background-size: cover;
}

.boopblocks h1, .boopblocks h4 {
  text-shadow: 1px 1px 10px rgb(97, 97, 97);
  font-weight: normal;
  margin: 15px;
}

.boopblocks h1, .boopblocks h4, .boopblocks p {
  letter-spacing: 0.2em
}

.social-icons {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  line-height: 2em;
}

.fab, .fa, .fas {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  padding: 10px;
  font-size: 20px;
}

.fab:hover, .fa:hover, .fas:hover, .synth polygon:hover, #master-play:hover {
  opacity: 0.3;
  cursor: pointer;
}

.play-pause {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
}

#mute {
  height: 20px;
  width: 20px;
  font-size: 20px;
  color: black;
}

.description {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  letter-spacing: 0.25em;
  text-align: left;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description ol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0;
  height: 70%;
}

.description li {
  padding: 10px;
}

.boopblocks {
  flex-grow: 3;
}

.keys {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#synth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 100;
  margin: 0 20% 0 20%;
}

.synth {
  padding: 0;
  width: 500;
  height: 500;
  margin: 5% 10% 5% 10%;
}

.synth path, .synth polygon, #master-play, #mute {
  transition: 0.3s;
}

.synth path:hover {
  opacity: 0.7;
}

.opaq {
  opacity: 0.3;
}

.synth * {
  box-shadow: 1px 1px 10px black;
  border-radius: 20px;
  padding: 0;
}

.fab {
  font-size: 20px;
}